body {
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: arial;
}

canvas {
    display: block;
    margin: 20px auto;
    cursor: crosshair;
}

#clearBtn {
    display: inline-block;
    border: none;
    outline: none;
    background: #00ab65;
    color: #fff;
    padding: 3px 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px #000;
    font-size: 18px;
}

#clearBtn:hover {
    box-shadow: none;
}

#loading {
    background: #000;
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 0;
    text-align: center;
    color: #ffffff;
    padding-top: 20vh;
}

#prediction {
    font-family: arial;
    font-size: 20px;
    font-weight: 600;
}

#data {
    color: mediumblue;
    font-weight: 800;
    font-size: 35px;
}

#header {
    padding-top: 20px;
    color: #35a;
    font-weight: 700;
}
